#MainAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
#MainAboutUs > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
#MainAboutUs > div:nth-child(1) {
  background: $color-second 0% 0% no-repeat padding-box;
}
.img-box {
  background-image: url(../../assets/assets/People.jpg);
  background-size: cover;
  background-position: center;
}
#MainAboutUs > div > p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
}
#MainAboutUs > div > h1 {
  font-size: 38px;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
}
#decoration {
  width: 200px;
  height: 50px;
}
#MainAboutUsFoto {
  width: 100%;
  height: 100%;
}
#Signature {
  width: 200px;
  height: 150px;
}
#MainAboutUs > div > div {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
