
#Form {
    height: 900px;
    background-image: url("../../assets/assets/Background-Contact-Form.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
    background-size: cover;
    
}
#Form > div {
    background: linear-gradient(90deg, rgba(39,198,162,1) 0%, rgba(240,245,244,0.8743872549019608) 0%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#FormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 90%;
}

#EmptyDiv {
    width: 50%;
}
#FormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 327px;
    width: 528px;
}
#FormDiv > h1 {
    font-size: 38px;
    letter-spacing: -0.76px;
    color:$color-first;
    font-weight: lighter;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
form > div {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;
    width: 100%;
    height: 100%;
}

form > div > label, form > label {
    margin: 0 10px 0 10px;
    width: 100%;
    input, textarea {
        background-color: #F2F6F5;
        border: 0;
        border-bottom: 0.75px solid $color-first;
        margin-top: 10px;
        width: 200px;
        // opacity: 0.4;
        color: black;

    }
    p{
        text-align: left;
    }
    textarea {
        padding-top: 20px;
        width: 100%;
        height: 97px;
    }
}
::placeholder{
    opacity: 0.3;
}
#SubmitButton {
    width: 150px;
    height: 50px;
    border: 0.75px solid $color-first;
    background-color: white;
    margin-top: 50px;
}
#Text {
    width: 100%;
    height: 97px;
}