
#OddajRzeczyKom{
    background-color: $color-four;
}
#OddajRzeczyKom > p {
    margin: 0;
    padding: 10px 0 50px 100px;
    font: normal normal normal 22px/30px $font-primary;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
}
#OddajRzeczyKom > h1 {
    padding: 50px 0 0 100px;
    font: normal normal 600 36px/32px $font-primary;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;

}
#Fundations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}
#Fundations > div:nth-child(1) {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Fundations > div:nth-child(1) > h1 {
    color: $color-first;
    font: normal normal normal 38px/55px $font-primary;
    margin-bottom: 10px;
}
#Fundations > div > button > p{
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
    font-size: 24px;
}
#Fundations > h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font: normal normal normal 22px/30px $font-primary;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
}

#FundationsButtons {
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    border: none;
    background-color: white;
    font-family: $font-primary;
    font-weight: lighter;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    width: 208px;
    height: 79px;
    margin-left: 20px;
    margin-right: 20px;
}
.buttons:active {
    border: 0.75px solid $color-first;
}

.switchButtons{
    height: 50px;
    width: 40px;
    border: none;
    background-color: white;
    font-family: $font-primary;
    font-weight: lighter;
    font-size: 20px;
}
#SwitchButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#FundationsUlBox, #OrganizationsUlBox, #LocalCollectionsUlBox {
    width: 1340px;
}

#FundationsUlBox > ul, #OrganizationsUlBox > ul, #LocalCollectionsUlBox > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#FundationsUlBox > ul >li, #OrganizationsUlBox > ul > li, #LocalCollectionsUlBox > ul > li  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1344px;
    border-bottom: 1px solid $color-first;
    color: $color-first;
}
#FundationsUlBox > ul >li > div> h1, #OrganizationsUlBox > ul > li > div > h1, #LocalCollectionsUlBox > ul > li > div > h1{
    font: normal normal 300 26px/31px $font-secondary;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
    padding: 20px 0 20px 0;

}
#FundationsUlBox > ul >li > p, #OrganizationsUlBox > ul > li > p, #LocalCollectionsUlBox > ul > li > p{
    font: normal normal 300 18px/22px $font-secondary;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
}

#FundationsUlBox > ul >li >div> p, #OrganizationsUlBox > ul > li > div > p, #LocalCollectionsUlBox > ul > li > div > p{
    font: italic normal 300 18px/22px $font-secondary;
    letter-spacing: 0px;
    color: $color-first;
    opacity: 1;
    padding-bottom: 20px;
}
